body {
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial, Helvetica, sans-serif;
	background: #EFEFEF;
}

#page {
	/*padding-top: 5px;*/
	/*padding-bottom: 5px;*/
	background: white;
	border: 1px solid #C9E0ED;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#header {
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content {
	padding: 20px;
}

#sidebar {
	padding: 20px 20px 20px 0;
}

#footer {
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo {
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu {
	background: white url(bg.gif) repeat-x left top;
}

#mainmenu ul {
	padding: 6px 20px 5px 20px;
	margin: 0px;
}

#mainmenu ul li {
	display: inline;
}

#mainmenu ul li a {
	color: #ffffff;
	background-color: transparent;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
	color: #6399cd;
	background-color: #EFF4FA;
	text-decoration: none;
}

div.flash-error, div.flash-notice, div.flash-success {
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #ddd;
}

div.flash-error {
	background: #FBE3E4;
	color: #8a1f11;
	border-color: #FBC2C4;
}

div.flash-notice {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

div.flash-success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

div.flash-error a {
	color: #8a1f11;
}

div.flash-notice a {
	color: #514721;
}

div.flash-success a {
	color: #264409;
}

div.form .rememberMe label {
	display: inline;
}

div.view {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs {
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span {
	font-weight: bold;
}

div.search-form {
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet {

}

.portlet-decoration {
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content {
	font-size: 0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background: #EFFDFF;
}

.portlet-content ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.portlet-content li {
	padding: 2px 0 4px 0px;
}

.operations {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li {
	padding-bottom: 2px;
}

.operations li a {
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited {
	color: #0066A4;
}

.operations li a:hover {
	background: #80CFFF;
}



*, *:before, *:after {
	box-sizing: border-box;
}

html {
	/*height: 100%;*/
}

body {
	/*height: 100%;*/
	/*box-sizing: border-box;*/
	/*display: table;*/
	/*margin: 0 auto;*/
}

#footer {
	margin-top: auto;
}

#groups-hierarchy {
	border: solid 1px #000;
	box-sizing: content-box;
}

#groups-hierarchy .inner {
	padding: 25px;
}

#groups-hierarchy ul {
	margin: 0;
}

#groups-hierarchy ul:first-child {
	padding: 0;
}

#groups-hierarchy li {
	list-style-type: none;
}

#groups-hierarchy li span {
	list-style-type: none;
	/*border: solid 1px #000;*/
	/*padding: 6px;*/
	/*margin: 6px 0;*/
	display: table;
	cursor: move;
	font-size: 30px;
	text-transform: uppercase;
}